body, html{
    height: 100%;
}

body{
    background: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
}

.jumbotron{
    width: 50%;
    height: 20%;
    color: rgb(226, 205, 161);
    background: transparent;
    padding: 20px;

}
#front_jumbo{
    margin: 180px auto 50px auto;
}
.jumbotron h1, h4, form{
    margin: 0 auto;
}

#search {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.col-sm-4{
    color: rgb(207, 187, 148);
}

