body, html{
    height: 100%;
    margin: 20px;
}

body {
    background: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron{
    width: 50%;
    height: 20%;
    color: wheat;
    background: transparent;
    padding: 20px;
    margin: 180px auto 50px auto;
}

.jumbotron h1, h4, form{
    margin: 0 auto;
}

#search {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#container{
    padding: 0px;
}

.card-deck{
    /* width: 70%; */
    margin: 0px auto;
}

.card-deck .card{
    box-shadow: 2px 5px 10px rgb(173, 173, 173);
    min-width: 27%;
    flex-shrink: 0;
    flex-grow: 0;
    margin-bottom: 20px;
}

.card-img-top{
    display: inline-block;
    height: 200px;
}

.card-title{
    font-weight: bold;
}

.card-text{
    font-style: italic;
}

.card-columns {
    column-count: 3;
    }