<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>On the Trail</title>

    {%load static%}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div id="main" class="front-page">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
                {% if not request.session.user_id %}
                <li class="nav-item active">
                    <a class="nav-link" href="/login_registration">Log in and Registration</a>
                </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                </li>
                {% if request.session.user_id %}
                <li><a href="user_profile/{{request.session.user_id}}"><p style="margin: 8px 10px 8px 20px; color: inherit;">Hello {{request.session.first_name}}</p></a></li>
                <li style="margin: 8px 10px 8px 20px; color: inherit;"><a href="/login_registration/user/logout" >Logout</a></li>
                {% endif %}
            </ul>
        </nav>



        <div id= "front_jumbo" class="jumbotron text-center">
            {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
            {% endif %}
            <h1>Welcome to On the Trail</h1>
            <h2>Find Trails Near You</h2>
            <h4>Enter Location:</h4>
            <div class="input-group mb-3">
                <form action="search_trail" method="GET">
                    <input class="form-control" type="text" name="location" placeholder="Search..." style="margin: 15px">
                    <button type="submit" class="btn btn-outline-light" style="margin: 5px">Go</button>
                </form>
            </div>
        </div>
    </div>




    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>