<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login in and Registration</title>
    {% load static %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="main">
        <div class="jumbotron text-center" style="width: 100%">
            <h1></h1>
            <p>Please log in or register.</p>
        </div>

        <div id="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1 class="display-4">Register</h1>
                    <form action="/login_registration/user/register" method="POST">
                        {% csrf_token %}
                        <label for="first_name">First Name:</label>
                        <input type="text" class="form-control" placeholder="First Name" name="first_name">
                        <label for="last_name">Last Name:</label>
                        <input type="text" class="form-control" placeholder="Last Name" name="last_name">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" placeholder="Enter email" name="email">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password">
                        <button type="submit" class="btn btn-outline-light">Submit</button>
                    </form>
                </div>
                <!-- empty space sorry  -->
                <div class="col-sm-4">
                    <div class="container">
                        {% if messages %}
                            {% for message in messages %}
                                <span class="badge badge-secondary">{% if message.tags %} {% endif %}{{ message }}</span></h1>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="col">
                        <h1 class="display-4">Login</h1>
                        <form action="/login_registration/user/login" method="POST">
                            {% csrf_token %}
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" name="email"><br>
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" name="password"><br>
                            <button type="submit" class="btn btn-outline-light">Log in</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>